## Building a Basic Data Pipeline to ETL (Extract, Transform, Load) Data from a CSV File into a SQL Database.

### Project Overview

#### In this project, I am building a simple data pipeline that:

#### 1. Extracts data from a CSV file.
#### 2. Transforms the data (e.g., clean or preprocess).
#### 3. Loads the data into a MySQL database.

#### Prerequisite before running below cells:

#### 1. We need to create a new database or we can use any existing MySQL database
#### 2. Create table with schema according to the columns available in the Players CSV file
#### 3. The above steps can be implemented by running the ipl_players_table.sql file which includes the required code

In [1]:
#Installing Required libraries

pip install pandas sqlalchemy mysql-connector-python

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.2)
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.32-cp312-cp312-macosx_11_0_arm64.whl.metadata (9.6 kB)
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp312-cp312-macosx_13_0_arm64.whl.metadata (2.0 kB)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Downloading typing_extensions-4.12.2-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading SQLAlchemy-2.0.32-cp312-cp312-macosx_11_0_arm64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 10.5 MB/s eta 0:00:00a 0:00:01
Downloading mysql_connector_python-9.0.0-cp312-cp312-macosx_13_0_arm64.whl (13.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.4/13.4 MB 4.5 MB/s eta 0:00:00a 0:00:01
Downloading typing_extensions-4.12.2-py3-none-any.whl (37 kB)
Installing collected packages: typing-extensions, mysql-connector-python, sqlalchemy
Successfully installed mysql-connector-python-9.0.0 sqlalchemy-2.0.32 typing-extensions-4.12.2
Note: you may need to restart the kernel to use updated packages.

In [8]:
#Importing required libraries
import pandas as pd
from sqlalchemy import create_engine

In [3]:
#Configuration
csv_file = 'Data/IPLPlayers.csv'
database_url = 'mysql+mysqlconnector://username:password@SWAROOP/Mahadeva'

In [4]:
# Step 1: Extract
def extract_data(file_path):
    df = pd.read_csv(file_path)
    return df

In [5]:
# Step 2: Transform
def transform_data(df):
    # Example transformation: Make all names uppercase
    df['name'] = df['name'].str.upper()
    return df

In [6]:
# Step 3: Load
def load_data(df, db_url):
    engine = create_engine(db_url)
    df.to_sql('people', engine, if_exists='replace', index=False)
    print('Data loaded into MySQL database.')

In [11]:
# Main pipeline function
def main():
    df = extract_data(csv_file)
    print("Showing first 3 rows of the loaded data: ")
    print()
    print(df.head(3))
    #df = transform_data(df)
    #load_data(df, database_url)

if __name__ == "__main__":
    main()

Showing first 3 rows of the loaded data:

   Player_Id  Player_Name        DOB Batting_Hand     Bowling_Skill  \
0          1   SC Ganguly   8-Jul-72    Left_Hand  Right-arm medium
1          2  BB McCullum  27-Sep-81   Right_Hand  Right-arm medium
2          3   RT Ponting  19-Dec-74   Right_Hand  Right-arm medium

       Country  Is_Umpire  Unnamed: 7
0        India          0         NaN
1  New Zealand          0         NaN
2    Australia          0         NaN