## Building a Basic Data Pipeline to ETL (Extract, Transform, Load) Data from a CSV File into a SQL Database.

### Project Overview

#### In this project, I am building a simple data pipeline that:

#### 1. Extracts data from a CSV file.
#### 2. Transforms the data (e.g., clean or preprocess).
#### 3. Loads the data into a MySQL database.

#### Prerequisite before running below cells:

#### 1. We need to create a new database or we can use any existing MySQL database
#### 2. Create table with schema according to the columns available in the Players CSV file
#### 3. The above steps can be implemented by running the ipl_players_table.sql file which includes the required code

In [1]:
#Installing Required libraries

#pip install pandas sqlalchemy mysql-connector-python

In [2]:
#Importing required libraries
import pandas as pd
from sqlalchemy import create_engine

In [3]:
#Configuration
csv_file = 'Data/IPLPlayers.csv'
database_url = 'mysql+mysqlconnector://username:password@SWAROOP/Mahadeva'

In [4]:
# Step 1: Extract
def extract_data(file_path):
    df = pd.read_csv(file_path)
    return df

In [5]:
# Step 2: Clean
def clean_data(df, temp):
    # Removing unwanted column
    column_to_remove = df.columns[temp]
    df = df.drop(columns=[column_to_remove])
    return df

In [6]:
# Step 3: Transform
def transform_data(df):
    # Example transformation: Make all names uppercase
    df['name'] = df['name'].str.upper()
    return df

In [7]:
# Step 4: Load
def load_data(df, db_url):
    engine = create_engine(db_url)
    df.to_sql('people', engine, if_exists='replace', index=False)
    print('Data loaded into MySQL database.')

In [8]:
# Main pipeline function
def main():
    df = extract_data(csv_file)
    print("Showing first 3 rows of the loaded data: \n")
    print(df.head(3))
    df = clean_data(df,7) #Column 7 is unnecessary
    print()
    print("Showing Data after removing column 6: \n")
    print(df.head(3))
    #df = transform_data(df)
    #load_data(df, database_url)

if __name__ == "__main__":
    main()

Showing first 3 rows of the loaded data:

   Player_Id  Player_Name        DOB Batting_Hand     Bowling_Skill  \
0          1   SC Ganguly   8-Jul-72    Left_Hand  Right-arm medium
1          2  BB McCullum  27-Sep-81   Right_Hand  Right-arm medium
2          3   RT Ponting  19-Dec-74   Right_Hand  Right-arm medium

       Country  Is_Umpire  Unnamed: 7
0        India          0         NaN
1  New Zealand          0         NaN
2    Australia          0         NaN

Showing Data after removing column 6:

   Player_Id  Player_Name        DOB Batting_Hand     Bowling_Skill  \
0          1   SC Ganguly   8-Jul-72    Left_Hand  Right-arm medium
1          2  BB McCullum  27-Sep-81   Right_Hand  Right-arm medium
2          3   RT Ponting  19-Dec-74   Right_Hand  Right-arm medium

       Country  Is_Umpire
0        India          0
1  New Zealand          0
2    Australia          0